<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Store-excel-into-DataFrame" data-toc-modified-id="Store-excel-into-DataFrame-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Store excel into DataFrame</a></span></li><li><span><a href="#Create-new-data-with-select-columns" data-toc-modified-id="Create-new-data-with-select-columns-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create new data with select columns</a></span></li><li><span><a href="#Store-JSON-data-into-a-DataFrame" data-toc-modified-id="Store-JSON-data-into-a-DataFrame-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Store JSON data into a DataFrame</a></span></li><li><span><a href="#Clean-DataFrame" data-toc-modified-id="Clean-DataFrame-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Clean DataFrame</a></span></li><li><span><a href="#Connect-to-local-database" data-toc-modified-id="Connect-to-local-database-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Connect to local database</a></span></li><li><span><a href="#Check-for-tables" data-toc-modified-id="Check-for-tables-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Check for tables</a></span></li><li><span><a href="#Use-pandas-to-load-csv-converted-DataFrame-into-database" data-toc-modified-id="Use-pandas-to-load-csv-converted-DataFrame-into-database-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Use pandas to load csv converted DataFrame into database</a></span></li><li><span><a href="#Confirm-data-has-been-added-by-querying-the-customer_location-table" data-toc-modified-id="Confirm-data-has-been-added-by-querying-the-customer_location-table-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Confirm data has been added by querying the customer_location table</a></span></li></ul></div>

In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Store excel into DataFrame

In [57]:
excel_file = "Resources/shipmentstostate2018.xls"
xls = pd.ExcelFile(excel_file)


#reading the excel for 2018  that has 12 sheets for  in the year

for ThisSheet in xls.sheet_names:
    
    # load each month into temp df
    
    DfForShipMant = pd.read_excel(excel_file, sheet_name=ThisSheet)
    
    # do cleanup and drop unwanted/erroneous data
    
    DfForShipMant.dropna(inplace= True)
    
    # get the header that is 
    
    headers = DfForShipMant.iloc[0]
    
    t = pd.DataFrame(DfForShipMant.values[1:], columns=headers)
    
    # assigned month
    
    t['month']=ThisSheet
    t['year']=2018
    t = t[~t.State.str.contains("Total")]
    
    if ThisSheet != "January":
        # appending the dataframe
        new_df = pd.concat([new_df,t])
        #new_df.dropna(inplace= True)
    else:
        # assigning the firts dataframe 
        new_df=t
        
  
new_df

3,State,Single- Section,Multi- Section,Total,Floors,month,year
0,Alabama,660,127,787,916,January,2018
1,Alaska,3,0,3,3,January,2018
2,Arizona,28,114,142,256,January,2018
3,Arkansas,93,70,163,233,January,2018
4,California,68,277,345,647,January,2018
...,...,...,...,...,...,...,...
47,Washington,9,109,118,236,December,2018
48,West Virginia,23,42,65,107,December,2018
49,Wisconsin,22,16,38,54,December,2018
50,Wyoming,4,1,5,6,December,2018
51,Dest. Pending *,19,13,32,45,December,2018

### Create new data with select columns

In [58]:
    
# copy the 'id', 'State', 'Single-Section','Multi-Section', 'month' to new data frame
new_ship_data2018 = new_df[['State','Single- Section' ,'Multi- Section','month']].copy()
# add year 
new_ship_data2018['year']=2018
new_ship_data2018.head()

3       State Single- Section Multi- Section    month  year
0     Alabama             660            127  January  2018
1      Alaska               3              0  January  2018
2     Arizona              28            114  January  2018
3    Arkansas              93             70  January  2018
4  California              68            277  January  2018

### Connect to local database

In [61]:

conn = "postgres:gadhav@localhost:5432/ShipMobility"
engine = create_engine(f'postgresql+psycopg2://{conn}')
print(engine)
engine.connect()

Engine(postgresql+psycopg2://postgres:***@localhost:5432/ShipMobility)

### Check for tables

In [62]:

engine.table_names()

['shipment_summary']

### Use pandas to load dataframe into database

In [53]:
new_ship_data2018.to_sql(name='shipment_summary', con=engine, if_exists='append', index=False)

In [54]:
pd.read_sql_query('select * from shipment_summary', con=engine).head()

        State  Single- Section  Multi- Section  year    month
0     Alabama              660             127  2018  January
1      Alaska                3               0  2018  January
2     Arizona               28             114  2018  January
3    Arkansas               93              70  2018  January
4  California               68             277  2018  January

### Confirm data has been added by querying the customer_location table

In [55]:
pd.read_sql_query('select * from shipment_summary', con=engine).tail()

               State  Single- Section  Multi- Section  year     month
619       Washington                9             109  2018  December
620    West Virginia               23              42  2018  December
621        Wisconsin               22              16  2018  December
622          Wyoming                4               1  2018  December
623  Dest. Pending *               19              13  2018  December